.chat-container {
  height: *;
  width: *;
}

.chat {
  height: *;
  width: *;
  context-menu: url(chat-window-menu.htm);
}

menu.chat_menu {
  aspect: "Emu.chat_menu";
}

div.chat {
  height: *;
  width: *;
}

div.chat h2 {
   width: *; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

div.chat h2 span { 
    background:#fff; 
    padding:0 10px; 
}

.chat message {
	
}