@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
  color: #C2E3EE;
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url("fonts/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: Ruda;
  src: url("fonts/Ruda-Regular.ttf");
  color: #D9E9EE;
}

@font-face {
  font-family: Ruda;
  font-weight: bold;
  src: url("fonts/Ruda-Bold.ttf");
}

text, p, div, plaintext {
  font-family: Roboto, FreeMono;
  font-size: 9pt;
  color: #C2E3EE;
}

button, toggle {
  font-family:Ruda, FreeMono;
  font-size: 11pt;
  color: #C2E3EE;
}

input {
  font-family:Roboto, FreeMono;
  font-size: 9pt;
  color: #C2E3EE;
}

output {
  width: auto;
  height: *;
}

th {
  font-family:Roboto, FreeMono;
  font-weight: bold;
  font-size: 9pt;
  color: #C2E3EE;
}

td {
  font-family:Roboto, FreeMono;
  font-size: 9pt;
  color: #C2E3EE;
}

h1, h2, h3, h4, h5 {
  font-family:Ruda, FreeMono;
  font-weight: normal;
  vertical-align: middle;
  color: #D9E9EE;
  white-space: nowrap;
  overflow-x:hidden;
  text-overflow:ellipsis;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

p.green, span.green, text.green {
  color: #28a964;
}

p.red, span.red, text.red {
  color: #ce5135;
}

a {
  color: #ce5135;
}

a:hover {
  text-decoration: underline;
  color: #ce5135;
}


h1 {
  font-size: 15pt;
}
h2 {
  font-size: 13pt;
}
h3 {
  font-size: 11pt;
}
h4 {
  font-size: 9pt;
}
