.bg00 { background-color: white; }
.bg01 { background-color: black; }
.bg02 { background-color: navy; }
.bg03 { background-color: green; }
.bg04 { background-color: red; }
.bg05 { background-color: brown; }
.bg06 { background-color: purple; }
.bg07 { background-color: orange; }
.bg08 { background-color: yellow; }
.bg09 { background-color: lime; }
.bg10 { background-color: teal; }
.bg11 { background-color: lightcyan; }
.bg12 { background-color: blue; }
.bg13 { background-color: pink; }
.bg14 { background-color: grey; }
.bg15 { background-color: lightgrey; }
.fg00 { color: white; }
.fg01 { color: black; }
.fg02 { color: navy; }
.fg03 { color: green; }
.fg04 { color: red; }
.fg05 { color: brown; }
.fg06 { color: purple; }
.fg07 { color: orange; }
.fg08 { color: yellow; }
.fg09 { color: lime; }
.fg10 { color: teal; }
.fg11 { color: lightcyan; }
.fg12 { color: blue; }
.fg13 { color: pink; }
.fg14 { color: grey; }
.fg15 { color: lightgrey; }
