
.ipsSpoiler, .ipsStyle_spoiler {
    margin: 0;
    padding: 0px 15px;
    border-width: 1px 1px 1px 1px;
    border-color: #e5e5e5;
    border-style: solid;
    position: relative;
    background: #fafafa;
    clear: both;
}

.ipsSpoiler_header {
    background: #e5e5e5;
    margin: 0px -15px;
    padding: 5px 15px;
    color: #353535;
    font-weight: bold;
    font-size: 13px;
    display: block;
    cursor: pointer;
}


.ipsSpoiler {
    border-color: rgba(53,186,255,.2);
    background: #05131b;
}

.ipsSpoiler_header {
    background: rgba(53,186,255,.2);
    color: inherit;
}
.ipsImage_thumbnailed {
    border: 1px solid rgba(53,186,255,.2);
}

.ipsEmbeddedVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ipsEmbeddedVideo {
    float: none;
    clear: both;
    width: 100%;
    overflow: auto;
    position: relative;
}

.ipsEmbeddedVideo:not( video ) {
    padding-bottom: 56.25%;
    padding-top: 25px;
}
.ipsAttachLink_image, .ipsAttachLink {
    margin-bottom: 15px;
}

a[data-mentionid] {
    display: inline-block;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 90%;
    color: #fff;
    text-decoration: none !important;
    background: #3d6594;
}


img {
    border-style: none;
}

b, strong {
    font-weight: inherit;
}

b, strong {
    font-weight: bolder;
}
a {
    background-color: transparent;
}
html {
    line-height: 1.15;
}

.ipsImage_thumbnailed {
    border: 1px solid #E2E2E2;
    padding: 1px;
}

a {
    color: #3d6594;
    text-decoration: none;
}

/*
*, .ipsApp input[type="search"] {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
    background-color: #fcfcfc;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #353c41;
    height: 100%;
    background-color: #fcfcfc;
    margin: 0;
}*/

html {
  background-color: #00070a30;
}

img.ipsImage, img.ipsImage_thumbnailed {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  vertical-align: top;
  max-width: 100%;
}

span.ipsEmoji, div.ipsEmoji {
    font-weight: normal;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}

.current_news_thread_container {
    padding-top: 0px;
    padding-bottom: 0px;
}
.current_news_thread_header {
    text-align: center;
    color: #f0f0f0;
}
.current_news_thread_meta {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.current_news_thread_content {
    padding: 15px 0px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.current_news_thread_footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
}
.current_news_thread_footer .ipsCommentCount {
    float: right;
}
.current_news_footer {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255,255,255,.1);
}

