.news-grid {
  flow:grid(2 1 3,
            2 5 3,
            2 4 3);
  width: *;
  height: *;
}

.news-grid span {
  display: inline;
}

.news-grid > div:nth-child(1), .news-grid > div:nth-child(4) {
  height: 80dip;
  width: *;
}

.news-grid > div:nth-child(2), .news-grid > div:nth-child(3) {
  height: *;
  width: *;
}

.news-grid > div:nth-child(4) {
  vertical-align: middle;
}

.news-grid > div:nth-child(4) * {
  text-transform: uppercase;
}

.news-grid > div:nth-child(5) {
  height: *;
}

.news_items_container {
  width: 400dip;
  background-color: #0c151ee6;
}

.news_items_container > div:nth-child(2) {
  aspect: "Emu.render_news_items";
}

.news_items_container > div:nth-child(2) > div {
  width: *;
  height: 60dip;
}

.news_items_container > div:nth-child(2) > div:nth-child(even) {
  background-color: #0c151ee6;
}

.news_item {
  height: *;
  width: *;
  vertical-align: middle;
}

.news_item.current {
  height: 58dip;
  border-bottom:2dip solid #ce5135;
}

.news_item pubDate {
  display: block;
  width: 30dip;
  height: 30dip;
  background-color: #0c2e3f;
  text-transform: uppercase;
  margin: 10dip 10dip;
  padding: 2dip;
  flow: vertical;
  text-align: center;
}

.news_item pubDate day {
  display:block;
  font-size: 15pt;
}
.news_item pubDate month {
  display:block;
  font-size: 8pt;
}

.news_item .news_title {
  display:block;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12pt;
  height: *;
}

.news_item .news_type {
  display:block;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 8pt;
  height: *;
}

.news_container {
  width: 750dip;
  height: *;
}

.news_container > div:nth-child(2) {
  padding-top: 10dip;
  padding-bottom: 10dip;
  background-color: #0c151ee6;
  overflow-y: auto;
  width: *;
  height: *;
  min-height: 0;
  max-height: min-intrinsic;
}

#news {
  height: min-intrinsic;
}

#news p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  line-height: 1.5;
}

#news img {
  border-style: none;
  aspect: "Emu.news_image";
  image-rendering: optimize-quality;
}

#news img[data-ratio] {
  max-height: calc( self.width * self.data-ratio / 100 );
}

#news #ipsTabs_elTopic_topicID_elTopic_topicID_latestPost_panel, #elTopic_topicID, #news .ipsPhotoPanel, #news hr {
  visibility: none;
}

#news .ipsSpoiler, #news .ipsStyle_spoiler, #news .ipsQuote {
    margin: 0;
    padding: 0px 15px;
    border-width: 1px 1px 1px 1px;
    border-color: #e5e5e5;
    border-style: solid;
    position: relative;
    background: #fafafa;
}

#news .ipsSpoiler_header, #news .ipsQuote_citation {
    background: #e5e5e5;
    margin: 0px -15px;
    padding: 5px 15px;
    color: #353535;
    font-weight: bold;
    font-size: 13px;
    display: block;
    cursor: pointer;
    aspect: "Emu.spoiler";
}


#news .ipsSpoiler, #news .ipsQuote {
    border-color: rgba(53,186,255,.2);
    background: #05131b;
}

#news .ipsSpoiler > .ipsSpoiler_contents {
  visibility: collapse;
}

#news .ipsQuote > .ipsQuote_contents {
  visibility: visible;
}

#news .ipsSpoiler_header, #news .ipsQuote_citation {
    background: rgba(53,186,255,.2);
    color: inherit;
}

#news .ipsImage_thumbnailed {
    border: 1px solid rgba(53,186,255,.2);
}

#news .ipsEmbeddedVideo {
  width: 100%;
  overflow: auto;
  position: relative;
}

#news .ipsEmbeddedVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#news .ipsEmbeddedVideo .playable {
  display: block;
  foreground-image: url(images/youtubeDarkGrey.svg);
  foreground-position: center center;
  foreground-repeat: no-repeat;
  foreground-size: auto 20%;
}
#news .ipsEmbeddedVideo .playable:hover {
  foreground-image: url(images/youtubeColour.svg);
}

#news .ipsAttachLink_image, .ipsAttachLink {
    margin-bottom: 15px;
}

#news a[data-mentionid] {
    display: inline-block;
    border-radius: 2px;
    padding: 0px 5px;
    font-size: 90%;
    color: #fff;
    text-decoration: none !important;
    background: #3d6594;
}

#news b, #news strong {
    font-weight: bolder;
}

#news a {
    background-color: transparent;
    color: #3d6594;
    text-decoration: none;
}

#news .ipsImage_thumbnailed {
    border: 1px solid #E2E2E2;
    padding: 1px;
}


#news #elTopic_topicID_content {
  padding: 10dip;
  height: *;
  width: *;
}

#news img.ipsImage, #news img.ipsImage_thumbnailed {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: left;
  vertical-align: top;
}

#news span.ipsEmoji, #news div.ipsEmoji {
  font-weight: normal;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}

#news .ipsType_richText {
  color: #a0a0a0;
}
