@set vgrid {
  table:root {
    prototype: VGrid url(vlist.tis);  
    font:system;
    flow:table-fixed;
    border-spacing:0;
    padding:0;
    overflow-x:auto;
  }

  th.sortable {
    prototype: VTh url(vlist.tis);
  }
  
  table:root[resizeable] > thead {
    behavior:column-resizer;
  }
   
  table:root > thead, 
  table:root > tbody { border-spacing:0; }

  table:root > tbody 
  { 
    overflow-y: auto;
    size:*;
  }
  
  th { behavior:clickable; padding:2px 4px 4px 4px; }
  
  td {
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow:ellipsis;
    line-height:1.8em; padding:0 4dip;
  }

  td.locked {
    background-image: url(images/padlock.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 11px;
  }
  
  table:root > thead > tr > th { text-align:left; }
  
  td:last-child { border-right:1px solid transparent; }
  
  table:root > tbody > tr {
    behavior:form; /* mission critical: each repeated child is treated as a form so it can accept object values  */
  } 

  table > tbody > tr.highlighted {
    background-color: #da9;
  }

  table > tbody > tr:current,
  table > tbody > tr:checked {
    background-color: #0d1721;
  }

  table > tbody > tr:hover {
    background-color: #0d172190;
  }

  table > tbody > tr:current:hover,
  table > tbody > tr:checked:hover {
    background-color: #0d1721;
  }
}

table { style-set: vgrid; // see vgrid.css
        width:*;
        height:*; } 

table th:nth-child(1) { width:5px; }
table th:nth-child(2) { width:50%; }
table th:nth-child(3) { width:21%; }
table th:nth-child(4) { width:12%; }
table th:nth-child(5) { width:12%; }

table th[order=ascend]  {
  foreground-image:url(stock:arrow-down);
  foreground-repeat:no-repeat;
  foreground-position:100% 50%;
} 
table th[order=descend]  {
  foreground-image:url(stock:arrow-up);
  foreground-repeat:no-repeat;
  foreground-position:100% 50%;
}
